<div class="form-group script-bonus-input roll-bonuses" data-drop="true">
    {{> "modules/ckl-roll-bonuses/hbs/label-partial.hbs"}}
    <div class="form-fields">
        {{#each scripts as |script i|}}
        <li class="flexrow script-row" data-index="{{i}}">
            <div class="script-name" data-tooltip="{{name}}">
                {{name}}
            </div>
            {{#if readonly}}
            <input type="text" readonly value="{{category.label}}" />
            {{else}}
            <select class="category-select">
                {{selectOptions ../categories selected=category valueAttr="key" labelAttr="label"}}
            </select>
            {{/if}}
            {{#unless readonly}}
            <a class="trait-selector edit-script"><i class="fas fa-edit"></i></a>
            <a class="trait-selector copy-script"><i class="fas fa-copy"></i></a>
            <a class="trait-selector delete-script"><i class="fas {{#if (eq ../scripts.length 1)}}fa-arrow-rotate-left{{else}}fa-trash{{/if}}"></i></a>
            {{/unless}}
        </li>
        {{/each}}
        {{#unless readonly}}
        <a class="add-script"><i class="fas fa-plus"></i>
            {{localize "PF1.ScriptCalls.NewName"}}
        </a>
        {{/unless}}
    </div>
</div>
