<div class="form-group script-bonus-input roll-bonuses">
    {{> "modules/ckl-roll-bonuses/hbs/label.hbs"}}
    <div class="form-fields">
        {{#if readonly}}
        <input type="text" readonly value="{{currentCategory.label}}" />
        {{else}}
        <select id="key-value-selector-{{key}}">
            {{selectOptions categories selected=currentCategory nameAttr="key" labelAttr="label"}}
        </select>
        {{/if}}
    <div class="script-name" data-tooltip="{{current.name}}">
        {{current.name}}
    </div>
    {{#unless readonly}}
    <a class="trait-selector" data-options="{{flag}}"><i class="fas fa-edit"></i></a>
    {{/unless}}
  </div>
</div>
