<div data-tooltip="{{this.tooltip}}">
    <label class="checkbox-label">
        <input
            type="checkbox"
            id="{{this.key}}"
            name="{{this.path}}"
            {{ checked this.value }}
        />
        {{this.label}}
        <a data-journal="{{journal}}">
            <i class="fas fa-book"></i>
        </a>
    </label>
</div>
