<form class="pf1 roll-bonuses roll-bonuses-form pf1">
    <div class="tab-headers tabs">
        <h3 id="targeted-tab-button-{{item.id}}" class="item tab-button active">{{localize 'ckl-roll-bonuses.picker.tabs.targeted'}}</h3>
        <h3 id="specific-tab-button-{{item.id}}" class="item tab-button">{{localize 'ckl-roll-bonuses.picker.tabs.specific'}}</h3>
    </div>

    <div class="hint-container">
        <div class="tab-hint help-text targeted active">
            <i class="help-icon fas fa-info-circle"></i>
            {{localize 'ckl-roll-bonuses.picker.tabs.targeted-description'}}
        </div>

        <div class="tab-hint help-text specific">
            <i class="help-icon fas fa-info-circle"></i>
            {{localize 'ckl-roll-bonuses.picker.tabs.specific-description'}}
        </div>
    </div>

    <div class="search-container">
        <i class="fas fa-magnifying-glass"></i>
        <input name="filter" type="search" />
    </div>

    <div class="form-body">
        <div class="targeted-body picker-tab active">
            <div class="sources">
                <div>
                    <h2>
                        {{ localize 'ckl-roll-bonuses.picker.bonuses.label' }}
                        <a
                            data-tooltip="{{localize 'ckl-roll-bonuses.picker.bonuses.tooltip'}}"
                            data-journal="Compendium.ckl-roll-bonuses.roll-bonuses-documentation.JournalEntry.FrG2K3YAM1jdSxcC.JournalEntryPage.PiyJbkTuzKHugPSk"
                        >
                            <i class="fas fa-book"></i>
                        </a>
                    </h2>
                    <div class="bonus-picker-items">
                        {{#each bonuses}}
                        {{> "modules/ckl-roll-bonuses/hbs/bonus-picker-item.hbs"}}
                        {{/each}}
                    </div>
                </div>
                <div>
                    <h2>
                        {{ localize 'ckl-roll-bonuses.picker.targets.label' }}
                        <a
                            data-tooltip="{{localize 'ckl-roll-bonuses.picker.targets.tooltip'}}"
                            data-journal="Compendium.ckl-roll-bonuses.roll-bonuses-documentation.JournalEntry.FrG2K3YAM1jdSxcC.JournalEntryPage.iurMG1TBoX3auh5z"
                        >
                            <i class="fas fa-book"></i>
                        </a>
                    </h2>
                    <div class="bonus-picker-items">
                        {{#each targets}}
                        {{> "modules/ckl-roll-bonuses/hbs/bonus-picker-item.hbs"}}
                        {{/each}}
                    </div>
                </div>
                <div>
                    <h2>
                        {{ localize 'ckl-roll-bonuses.picker.conditional-targets.label' }}
                        <a
                            data-tooltip="{{localize 'ckl-roll-bonuses.picker.conditional-targets.tooltip'}}"
                            data-journal="Compendium.ckl-roll-bonuses.roll-bonuses-documentation.JournalEntry.FrG2K3YAM1jdSxcC.JournalEntryPage.IpRhJqZEX2TUarSX"
                        >
                            <i class="fas fa-book"></i>
                        </a>
                    </h2>
                    <div class="bonus-picker-items">
                        {{#each conditionalTargets}}
                        {{> "modules/ckl-roll-bonuses/hbs/bonus-picker-item.hbs"}}
                        {{/each}}
                    </div>
                </div>
                <div>
                    <h2>
                        {{ localize 'ckl-roll-bonuses.picker.target-overrides.label' }}
                        <a
                            data-tooltip="{{localize 'ckl-roll-bonuses.picker.target-overrides.tooltip'}}"
                            data-journal="Compendium.ckl-roll-bonuses.roll-bonuses-documentation.JournalEntry.FrG2K3YAM1jdSxcC.JournalEntryPage.IpRhJqZEX2TUarSX"
                        >
                            <i class="fas fa-book"></i>
                        </a>
                    </h2>
                    <div class="bonus-picker-items">
                        {{#each targetOverrides}}
                        {{> "modules/ckl-roll-bonuses/hbs/bonus-picker-item.hbs"}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

        <div class="specific-body picker-tab">
            {{#if specifics.length}}
            <h2>
                {{ localize 'ckl-roll-bonuses.picker.specific-bonuses.label' }}
                <a
                    data-tooltip="{{localize 'ckl-roll-bonuses.picker.specific-bonuses.tooltip'}}"
                    data-journal="Compendium.ckl-roll-bonuses.roll-bonuses-documentation.JournalEntry.FrG2K3YAM1jdSxcC.JournalEntryPage.ez01dzSQxPTiyXor"
                >
                    <i class="fas fa-book"></i>
                </a>
            </h2>
            <div class="specific-bonuses bonus-picker-items">
                {{#each specifics}}
                {{> "modules/ckl-roll-bonuses/hbs/bonus-picker-item.hbs"}}
                {{#each children}}
                <div class="child">
                    {{> "modules/ckl-roll-bonuses/hbs/bonus-picker-item.hbs"}}
                </div>
                {{/each}}
                {{/each}}
            </div>
            {{/if}}
        </div>
    </div>
    <div class="control-group">
        <button type="reset">
            <i class="fas fa-rotate-left"></i> {{localize "ckl-roll-bonuses.cancel"}}
        </button>
        <button type="submit">
            <i class="fas fa-save"></i> {{localize "ckl-roll-bonuses.ok"}}
        </button>
    </div>
</form>
