<div class="form-group roll-bonuses">
    <label>{{label}}</label>
    {{!-- <div class="form-fields">
        <div>
            <input type="text" class="formula" value="{{current}}" id="text-input-1" />
            <input type="text" class="formula" value="{{current}}" id="text-input-2" />
        </div>
    </div> --}}
    <div>
        <div class="form-fields">
            <input type="text" class="formula" value="{{current}}" id="text-input-1" />
        </div>
        <div class="form-fields">
            <input type="text" class="formula" value="{{current}}" id="text-input-1" />
        </div>
    </div>
</div>