<div class="form-group">
    {{> "modules/ckl-roll-bonuses/hbs/label.hbs"}}
    <div class="form-fields">
        {{#if readonly}}
            <input type="text" readonly value="{{current}}" />
        {{else}}
        <select name="string-selector" id="string-selector-{{key}}">
            {{#select current}}
            {{#each choices}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
        {{/if}}
    </div>
</div>
