<div class="form-group input-select roll-bonuses">
    <label>{{label}}</label>
    <div class="form-fields">
        <input type="text" class="formula" value="{{formula}}" id="text-input-{{key}}"
            placeholder="{{localize PF1.Formula}}" />
        <select id="key-value-selector-{{key}}">
            {{selectOptions choices selected=current}}
        </select>
    </div>
</div>