<div class="form-group roll-bonuses">
    {{> "modules/ckl-roll-bonuses/hbs/label-partial.hbs"}}
    <div class="form-fields">
        {{#if isTextArea}}
        <textarea
            style="resize: auto; field-sizing: content;"
            {{#if readonly}}readonly{{/if}}
            value="{{current}}"
            id="text-input-{{key}}"
            placeholder="{{placeholder}}"
        >{{current}}</textarea>
        {{else}}
        <input
            type="{{textInputType}}"
            {{#if isFormula}}class="formula"{{/if}}
            {{#if readonly}}readonly{{/if}}
            value="{{current}}"
            id="text-input-{{key}}"
            {{#if choices.length}}list="text-input-{{key}}-list"{{/if}}
            placeholder="{{placeholder}}"
        />
        {{#if choices.length}}
        <datalist id="text-input-{{key}}-list">
            {{#each choices}}
            <option value="{{this}}">
            {{/each}}
        </datalist>
        {{/if}}
        {{/if}}
    </div>
</div>
