<div class="form-group input-select roll-bonuses">
    {{> "modules/ckl-roll-bonuses/hbs/label.hbs"}}
    <div class="form-fields">
        <input type="text" class="formula" value="{{formula}}" id="text-input-{{textKey}}"
            placeholder="{{placeholder}}" />
        <select id="key-value-selector-{{selectKey}}">
            {{selectOptions choices selected=current nameAttr="key" labelAttr="label"}}
        </select>
    </div>
</div>
