<div class="form-group roll-bonuses">
    {{> "modules/ckl-roll-bonuses/hbs/label.hbs"}}
    <div class="form-fields">
        <input
            type="text"
            {{#if isFormula}}class="formula"{{/if}}
            {{#if readonly}}readonly{{/if}}
            value="{{current}}"
            id="text-input-{{key}}"
            {{#if choices.length}}list="text-input-{{key}}-list"{{/if}}
            placeholder="{{placeholder}}"
        />
        {{#if choices.length}}
        <datalist id="text-input-{{key}}-list">
            {{#each choices}}
            <option value="{{this}}">
            {{/each}}
        </datalist>
        {{/if}}
    </div>
</div>
