<form class="roll-bonuses roll-bonuses-form">
    <div class="form-body">

        {{#each groupedItems}}
        <section>
            <h4 class="type-header">{{@key}}</h4>
            <div class="items">
                {{#each this}}
                <div
                    class="action-selector-row only-name"
                    data-tooltip="{{this.name}}<br>{{this.typeLabel}}"
                >
                    {{this.name}}
                </div>
                {{#each this.actions}}
                <div
                    class="action-selector-row"
                    data-tooltip="{{../name}}<br>{{this.name}}"
                >
                    <input
                        type="checkbox"
                        name="{{../../../path}}"
                        {{#if this.checked}}checked{{/if}}
                        value="{{../id}}.{{this.id}}"
                        id="item_{{../../../item.id}}_{{../id}}_.{{this.id}}"
                    >
                    <label for="item_{{../../../item.id}}_{{../id}}_.{{this.id}}">
                        <div class="action-selector-contents">
                            <img src="{{this.img}}">
                            <div>{{this.name}}</div>
                        </div>
                    </label>
                </div>
                {{/each}}
                {{/each}}
            </div>
        </section>
        {{/each}}
    </div>
    <div class="control-group">
        <button type="reset">
            <i class="fas fa-rotate-left"></i> {{localize "ckl-roll-bonuses.cancel"}}
        </button>
        <button type="submit">
            <i class="fas fa-save"></i> {{localize "ckl-roll-bonuses.ok"}}
        </button>
    </div>
</form>
