<div class="form-group roll-bonuses editable-icon-input">
    <label class="header">{{label}}</label>
    {{!-- {{> "modules/ckl-roll-bonuses/hbs/label.hbs"}} TOOD --}}
    <div class="form-fields">
        {{#each current}}
        <li data-index="{{@index}}" data-tooltip="{{this.name}}">
            <img src="{{this.img}}">
            <span class="icon-label">{{this.name}}</span>
        </li>
        {{/each}}
    </div>
    {{#unless readonly}}
    <a><i class="fas fa-edit"></i></a>
    {{/unless}}
</div>
