<div class="form-group roll-bonuses editable-icon-input">
    <div class="form-group">{{> "modules/ckl-roll-bonuses/hbs/label-partial.hbs"}}</div>
    <div class="form-fields">
        {{#each current}}
        <li data-index="{{@index}}" data-tooltip="{{this.name}}" data-uuid="{{this.uuid}}">
            <img src="{{this.img}}">
            <span class="icon-label">{{this.name}}</span>
        </li>
        {{else}}
        <div class="error-text">{{localize "ckl-roll-bonuses.inputs.icon-input.no-selection"}}</div>
        {{/each}}
    </div>
    {{#unless readonly}}
    <a class="trait-selector"><i class="fas fa-edit"></i></a>
    {{/unless}}
</div>
