<form class="roll-bonuses roll-bonuses-form pf1">
    <div class="help-text">
        <i class="help-icon fas fa-info-circle"></i>
        {{this.description}}
    </div>
    <div class="search-container">
        <i class="fas fa-magnifying-glass"></i>
        <input name="filter" type="search" />
    </div>
    <div class="form-body">
        <div class="all-entities">
            {{#each groupedItems}}
            <section class="type-section">
                <h4 class="type-header sticky-header" data-type="{{@key}}">{{@key}}</h4>
                <div class="entities">
                    {{#each this}}
                    <div
                        class="entity-selector-row"
                        data-item-id="{{this.id}}"
                        data-name="{{this.name}}"
                        data-tooltip="{{this.typeLabel}}<hr>{{this.name}}"
                    >
                        <input
                            type="checkbox"
                            name="{{../../path}}"
                            {{#if this.checked}}checked{{/if}}
                            value="{{this.id}}"
                            id="item_{{../../item.id}}_{{this.id}}"
                        >
                        <label for="item_{{../../item.id}}_{{this.id}}">
                            <div class="entity-selector-contents">
                                <img src="{{this.img}}">
                                <div class="entity-name">{{this.name}}</div>
                            </div>
                        </label>
                    </div>
                    {{/each}}
                </div>
            </section>
            {{/each}}
        </div>
    </div>
    <div class="control-group">
        <button type="reset">
            <i class="fas fa-rotate-left"></i> {{localize "ckl-roll-bonuses.cancel"}}
        </button>
        <button type="submit">
            <i class="fas fa-save"></i> {{localize "ckl-roll-bonuses.ok"}}
        </button>
    </div>
</form>
