<form class="item-selector">
        {{#each items}}
        <div style="display: flex;">
            <input
                type="checkbox"
                id="{{../item.id}}_{{this.id}}"
                name="item-box"
                data-uuid="{{this.uuid}}"
                {{#if this.checked}}checked{{/if}}
                value="{{this.uuid}}"
            >
            <label for="{{../item.id}}_{{this.id}}">
                <div
                    class="item-selector-row"
                    data-index="{{@index}}"
                    data-uuid="{{this.uuid}}"
                    data-tooltip="{{this.name}}<br>{{this.typeLabel}}"
                >
                    <img src="{{this.img}}">
                    <h4>{{this.name}}</h4>
                </div>
            </label>
        </div>
        {{/each}}
    <div class="form-group">
        <button id="reset-actions">
            <i class="fas fa-rotate-left"></i> TODO CANCEL
        </button>
        <button type="submit">
            <i class="fas fa-save"></i> TODO OK
        </button>
    </div>

</form>
