<form class="roll-bonuses roll-bonuses-form item-selector">
    <div class="form-body">

        {{#each groupedItems}}
        <h4>{{@key}}</h4>
        {{#each this}}
        <div
            class="item-selector-row"
            data-tooltip="{{this.name}}<br>{{this.typeLabel}}"
        >
            <input
                type="checkbox"
                name="{{../../path}}"
                {{#if this.checked}}checked{{/if}}
                value="{{this.uuid}}"
                id="item_{{../../item.id}}_{{this.id}}"
            >
            <label for="item_{{../../item.id}}_{{this.id}}">
                <div class="item-selector-contents">
                    <img src="{{this.img}}">
                    <div>{{this.name}}</div>
                </div>
            </label>
        </div>
        {{/each}}
        <br>
        {{/each}}
    </div>
    <div class="control-group">
        <button id="reset-actions">
            <i class="fas fa-rotate-left"></i> {{localize "ckl-roll-bonuses.cancel"}}
        </button>
        <button type="submit">
            <i class="fas fa-save"></i> {{localize "ckl-roll-bonuses.ok"}}
        </button>
    </div>
</form>
