{{!--
const templateData = {
    isGm: {boolean}
    item: {ItemPF},
    path: {string},
    groupedTokens: {}[],
};
--}}
<form class="roll-bonuses roll-bonuses-form token-selector pf1">
    <div class="form-body">
        <div class="help-text">
            {{#if isGm}}
            <i class="help-icon fas fa-info-circle"></i>
            {{localize "ckl-roll-bonuses.applications.token.gm-hint"}}
            <hr>
            {{/if}}
            {{#unless isGm}}<i class="help-icon fas fa-info-circle"></i>{{/unless}}
            {{localize "ckl-roll-bonuses.applications.token.player-hint"}}
        </div>
        {{#each groupedTokens}}
        <h4 class="sticky-header">{{@key}}</h4>
        <div class="grouped-tokens">
            {{#each this}}
            <div
                class="individual-token"
                data-tooltip="{{this.name}}"
                data-token-uuid="{{this.uuid}}"
            >
                <input
                    type="checkbox"
                    name="{{../../path}}"
                    {{#if this.checked}}checked{{/if}}
                    value="{{this.uuid}}"
                    id="token_{{../../item.id}}_{{this.id}}"
                >
                <label for="token_{{../../item.id}}_{{this.id}}">
                    <div class="token-selector-contents">
                        <img src="{{this.img}}">
                        <div>{{this.name}}</div>
                    </div>
                </label>
            </div>
            {{/each}}
        </div>
        {{else}}
        <div class="no-tokens">
            {{localize "ckl-roll-bonuses.applications.token.no-tokens"}}
        </div>
        {{/each}}
    </div>
    <div class="control-group">
        <button type="reset">
            <i class="fas fa-rotate-left"></i> {{localize "ckl-roll-bonuses.cancel"}}
        </button>
        <button type="submit">
            <i class="fas fa-save"></i> {{localize "ckl-roll-bonuses.ok"}}
        </button>
    </div>
</form>
